# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
optimization/best_fitness.txt
optimization/best_solution.txt
#images
*.pdf
*.png
# report
*.log
*.aux
*.gz
*.toc
*.out
*.bbl
*.bib
*.run.xml
!./report/images/*.pdf
