# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
optimization/best_fitness.txt
optimization/best_solution.txt
#images
robot_exploration/results/images/pdf/*.pdf
robot_exploration/results/images/png/*.png
# report
*.log
*.aux
*.gz
*.toc
*.out
*.bbl
*.bib
*.run.xml