# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
optimization/best_fitness.txt
optimization/best_solution.txt
#images
*.pdf
*.png
*.jpg
# report
*.log
*.aux
*.gz
*.toc
*.out
*.bbl
*.blg
*.run.xml
!/report/images/macro_results/*.pdf
!/report/images/alpha_results/*.pdf
!/report/images/gamma_results/low_alpha/*.pdf
!/report/images/gamma_results/high_alpha/*.pdf
!/report/images/status_results/*.pdf
!/report/images/high_priority_gamma_results/low_alpha/*.pdf
!/report/images/high_priority_gamma_results/high_alpha/*.pdf
|/report/images/*.png
